@import 'utilities';

@media screen and (min-width: 1280px) {
  .create-post {
    &__page-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__form-wrapper {
      padding: 20px;
      border: 1px solid $page-line-color;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
    }

    &__post-title {
      background: transparent;
      border: 1px solid $page-line-color;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.3rem;
      margin-bottom: 20px;
      outline: none;

      &::placeholder {
        color: rgb(255, 255, 255, .3);
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    &__multiselect-tags {
      margin-bottom: 20px;
    }

    &__post-btn {
      background: #0077ff;
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 20px;
      align-self: end;
      margin-right: 5px;
    }
  }
}