@import 'utilities';

@media screen and (min-width: 1280px) {
  .bg-modal {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, .5);
  }

  .modal {
    width: 400px;
    margin: 150px auto 0;
    background: $page-bg-color;
    border-radius: 10px;
  }

  .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .modal__header-title {
    font-size: 18px;
  }

  .modal__header-close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &:hover {
      background: $page-line-color;
    }
  }

  .modal__header-close-icon {
    font-size: 20px;
    color: $light-gray;
  }

  .modal__header-delimiter {
    border: 1px solid $page-line-color;
  }

  .modal__form {
    padding: 20px 20px 0;
  }

  .modal__form-control {
    margin-bottom: 20px;
  }

  .modal__form-input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px 16px;
    background: transparent;
    border: 1px solid $page-line-color;
    outline: none;

    &--invalid {
      border: 1px solid red;
    }
  }

  .modal__form-error {
    color: red;
    padding-left: 5px;
  }

  .modal__button {
    width: 100%;
    padding: 10px 16px;
    font-weight: bold;
    background: #0077ff;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .modal__footer {
    text-align: center;
    padding-bottom: 20px;
  }

  .modal__footer-btn {
    font-weight: bold;

    &:hover {
      background: #0077ff;
    }
  }
}