@import 'utilities';

@media screen and (min-width: 1280px) {
  .profile-settings__wrapper {
    display: flex;
  }
  .profile-settings__content {
    width: 50%;
  }
  .profile-settings__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .profile-settings__field-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .profile-settings__field-label {
    font-weight: bold;
    margin-bottom: 7px;
  }
  .profile-settings__input-wrapper {
    background: transparent;
    border-radius: 2px;
    border: 1px solid $page-line-color;
    outline: none;
    padding: 10px;
  }
  .profile-settings__select-wrapper {
    background: rgb(59, 59, 59);
    border-radius: 2px;
    border: 1px solid white;
    outline: none;
    padding: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(@/assets/svg/select__arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 13px;
  }
  .profile-settings__birthday-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .profile-settings__date-input {
    text-align: center;
    width: 100px;

    &:first-of-type {
      width: 160px;
    }
  }
  .profile-settings__textarea {
    resize: none;
  }
  .profile-settings__save-btn {
    font-weight: bold;
    background: $blue;
    padding: 10px 16px;
    border-radius: 2px;
  }
  .profile-settings__display-name {
    margin-top: 5px;
    color: $light-gray;
  }
  .profile-settings__avatar-block {
    display: flex;
    align-items: center;
  }
  .profile-settings__avatar {
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .profile-settings__avatar-input::file-selector-button {
    border-radius: 2px;
    border: none;
    color: white;
    padding: 3px 7px;
    background: rgb(107,107,107);
    margin-right: 10px;
  }
  .profile-settings__avatar-input::file-selector-button:hover {
    background: rgb(129, 129, 129);
  }
  .profile-settings__avatar-input::file-selector-button:hover,
  .profile-settings__avatar-input:hover {
    cursor: pointer;
  }
}