@import 'utilities';

@media screen and (min-width: 1280px) {
  .profile-settings__navigation {
    list-style-type: none;
    width: 160px;
    margin-right: 40px;
  }
  .profile-settings__nav-icon {
    font-size: 16px;
    width: 20px;
    text-align: center;
    margin-right: 5px;
  }
  .profile-settings__nav-item {
    border-radius: 2px;

    &:hover {
      background: $page-line-color;
    }
  }
  .profile-settings__nav-item-btn {
    display: block;
    border-radius: 2px;
    padding: 8px 0 8px 16px;
  }
}