@media screen and (min-width: 1280px) {
  .header {
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__burger-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .nav-menu__burger-btn:hover {
    background: rgba(255, 255, 255, 0.12);
  }
  .nav-menu__burger-icon {
    font-size: 20px;
  }
  .nav-menu__logo {
    margin-right: 30px;
  }
  .nav-menu__btns {
    list-style-type: none;
    display: flex;
  }
  .nav-menu__btn {
    font-weight: bold;
  }
  .nav-menu__btn:not(:last-child) {
    margin-right: 20px;
  }
  .nav-menu__btn:hover {
    color: #808080;
  }
  .nav-function {
    display: flex;
    align-items: center;
  }
  .nav-function__search-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
  }
  .nav-function__search-btn:hover {
    background: rgba(255, 255, 255, 0.12);
  }
  .nav-function__search-btn--active {
    background: rgba(255, 255, 255, 0.12);
  }
  .nav-function__search-icon {
    font-size: 17px;
    color: #808080;
  }
  .nav-function__search-icon--active {
    color: white;
  }
  .nav-function__login-btn {
    font-weight: bold;
    margin-right: 20px;
    color: #808080;
  }
  .nav-function__avatar-btn {
    margin-right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
  }
  .nav-function__avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .nav-function__avatar-img:hover {
    opacity: 0.5;
  }
  .nav-function__create-post-btn {
    background: #0077FF;
    border-radius: 18px;
    font-weight: bold;
    padding: 10px 16px;
    display: flex;
    align-items: center;
  }
  .create-post-btn__icon {
    margin-right: 7px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    position: relative;
  }
  .sidebar {
    position: absolute;
    left: 0;
    top: 5px;
    width: 200px;
  }
  .sidebar__categories {
    list-style-type: none;
    margin-bottom: 15px;
  }
  .sidebar__category-btn {
    padding: 8px 0 8px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 2px;
  }
  .sidebar__category-btn:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .sidebar__category-icon {
    font-size: 16px;
    margin-right: 15px;
    width: 20px;
    text-align: center;
  }
  .interests-title, .recents-title {
    font-size: 14px;
    color: #999;
    font-weight: bold;
    padding-left: 16px;
    margin-bottom: 5px;
  }
  .interests__tags, .recents__tags {
    list-style-type: none;
  }
  .interests__tag, .recents__tag {
    border-radius: 2px;
  }
  .interests__tag:hover, .recents__tag:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .tag-link {
    padding: 8px 0 8px 16px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .bg-modal {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal {
    width: 400px;
    margin: 150px auto 0;
    background: #141414;
    border-radius: 10px;
  }
  .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .modal__header-title {
    font-size: 18px;
  }
  .modal__header-close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .modal__header-close-btn:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .modal__header-close-icon {
    font-size: 20px;
    color: #808080;
  }
  .modal__header-delimiter {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .modal__form {
    padding: 20px 20px 0;
  }
  .modal__form-control {
    margin-bottom: 20px;
  }
  .modal__form-input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
  }
  .modal__form-input--invalid {
    border: 1px solid red;
  }
  .modal__form-error {
    color: red;
    padding-left: 5px;
  }
  .modal__button {
    width: 100%;
    padding: 10px 16px;
    font-weight: bold;
    background: #0077ff;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .modal__footer {
    text-align: center;
    padding-bottom: 20px;
  }
  .modal__footer-btn {
    font-weight: bold;
  }
  .modal__footer-btn:hover {
    background: #0077ff;
  }
}
@media screen and (min-width: 1280px) {
  .dropdown {
    position: absolute;
    background: #141414;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 7px 0;
    top: 42px;
    z-index: 80;
  }
  .dropdown-avatar {
    width: max-content;
    left: -30px;
  }
  .dropdown-avatar__options {
    list-style-type: none;
  }
  .dropdown-avatar__option {
    text-align: left;
    padding: 10px 15px;
  }
  .dropdown-avatar__option-btn {
    background: transparent !important;
  }
  .dropdown-avatar__option:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .dropdown-search {
    left: -100px;
    cursor: initial;
  }
  .dropdown-search__input-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.12);
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
  }
  .dropdown-search__search-icon {
    font-size: 16px;
    color: #808080;
    margin-right: 15px;
  }
  .dropdown-search__input {
    background: transparent;
    border: none;
    outline: none;
  }
}
@media screen and (min-width: 1280px) {
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile-header__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .account-info__name {
    font-size: 24px;
  }
  .account-info__nickname {
    color: #808080;
  }
  .profile-description {
    margin-bottom: 20px;
  }
  .profile-nav__btns {
    display: flex;
    list-style-type: none;
    position: relative;
  }
  .profile-nav__btn-wrapper,
  .profile-nav__options-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profile-nav__btn {
    font-weight: bold;
    color: #808080;
    padding: 10px 15px;
  }
  .profile-nav__btn:hover {
    color: white;
  }
  .profile-nav__btn--active {
    border-bottom: 2px solid white;
    padding-bottom: 9px;
    color: white;
  }
  .profile-nav__options-wrapper {
    width: 100%;
    text-align: right;
  }
  .profile-nav__options {
    text-align: right;
  }
  .profile-nav__options-icon {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .create-post__page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .create-post__form-wrapper {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .create-post__post-title {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    outline: none;
  }
  .create-post__post-title::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    letter-spacing: 1px;
  }
  .create-post__multiselect-tags {
    margin-bottom: 20px;
  }
  .create-post__post-btn {
    background: #0077ff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    align-self: end;
    margin-right: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .profile-settings__navigation {
    list-style-type: none;
    width: 20%;
  }
  .profile-settings__nav-icon {
    font-size: 16px;
    width: 20px;
    text-align: center;
    margin-right: 5px;
  }
  .profile-settings__item {
    border-radius: 2px;
  }
  .profile-settings__item:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .profile-settings__item-btn {
    display: block;
    border-radius: 2px;
    padding: 8px 0 8px 16px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: white;
  background: #141414;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.page-content {
  margin: 20px auto 0;
  width: 800px;
}

a, button, input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.router-link-active {
  background: rgba(255, 255, 255, 0.12);
}

.nav-menu__logo .router-link-active {
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
