@import 'utilities';
@import 'navbar';
@import 'sidebar';
@import 'login-modal';
@import 'dropdown-avatar-search';
@import 'profile';
@import 'create-post';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: white;
  background: $page-bg-color;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.page-content {
  margin: 20px auto 0;
  width: 650px;
}

a, button, input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.router-link-active {
  background: $foreground-hover;
}

.nav-menu__logo .router-link-active {
  background: transparent;
}